[package]
name = "rspp"
version = "0.1.0"
edition = "2021"

[lib]
name = "rspp"
# name = "rspp_lib"
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
libc = "0.2.85"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
